In [1]:
import pandas as pd
from sklearn import linear_model

### Reading Excel

In [2]:
data=pd.read_excel('F:\\Projects\\Widhya-Instagram_Post_Reach_Prediction.xlsx')
data.head()

,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30

### Cleaning Data

In [3]:
reg=linear_model.LinearRegression()

In [4]:
data['Time']=data['Time since posted'].str.split(" ",n=1,expand=True)[0].astype(int)
data.head()

,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes,Time
0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139,11
1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23,2
2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25,2
3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49,3
4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30,3

### Training and Testing data

In [5]:
from sklearn.model_selection import train_test_split
import numpy as np
X=pd.DataFrame(np.c_[data['Followers'],data['Time']],columns=['Followers','Time'])
y=data['Likes'].values
y=y.reshape(-1,1)
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.20)

### Predicting Data

In [6]:
reg.fit(x_train,y_train)
pred=reg.predict(x_test)

In [9]:
print(reg.predict([[400,5]]))

[[57.28297573]]

### Mean Squared Error of the model

In [12]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,pred)

4325.658821617302