In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
data=pd.read_excel('F:\Projects\Widhya-Covid-19_Analysis.xlsx')

In [4]:
data.head()

,Sno,Date,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths
0,1,2020-01-30,Kerala,1,0,0,0
1,2,2020-01-31,Kerala,1,0,0,0
2,3,2020-02-01,Kerala,2,0,0,0
3,4,2020-02-02,Kerala,3,0,0,0
4,5,2020-02-03,Kerala,3,0,0,0

In [5]:
df=pd.DataFrame(data)

In [6]:
df.head()

,Sno,Date,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths
0,1,2020-01-30,Kerala,1,0,0,0
1,2,2020-01-31,Kerala,1,0,0,0
2,3,2020-02-01,Kerala,2,0,0,0
3,4,2020-02-02,Kerala,3,0,0,0
4,5,2020-02-03,Kerala,3,0,0,0

In [10]:
df.groupby('Date')['ConfirmedIndianNational'].sum()['2020-03-04']

12

In [22]:
df[df['Date']=='2020-03-04']

,Sno,Date,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths
39,40,2020-03-04,Uttar Pradesh,6,0,0,0
40,41,2020-03-04,Kerala,3,0,3,0
41,42,2020-03-04,Haryana,0,2,0,0
42,43,2020-03-04,Delhi,1,0,0,0
43,44,2020-03-04,Telengana,1,0,0,0
44,45,2020-03-04,Rajasthan,1,14,0,0

In [23]:
12+16+3

31

In [28]:
import math

In [32]:
31*(math.exp(4*26))

4.5497529134818713e+46