In [1]:
import pandas as pd

In [2]:
data=pd.read_excel('F:\\Projects\\Widhya-Movie_Recommandation_using_Python.xlsx')

In [3]:
df=pd.DataFrame(data)

In [4]:
df.head(2)

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,title,vote_average,vote_count,cast,crew,director,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.438,...,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron,NaN,NaN,NaN,NaN
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.083,...,Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski,NaN,NaN,NaN,NaN

In [5]:
df.loc[14]

index                                                                  14
budget                                                          225000000
genres                           Action Adventure Fantasy Science Fiction
homepage                                       http://www.manofsteel.com/
id                                                                  49521
keywords                saving the world dc comics superhero based on ...
original_language                                                      en
original_title                                               Man of Steel
overview                A young boy learns that he has extraordinary p...
popularity                                                         99.398
production_companies    [{"name": "Legendary Pictures", "id": 923}, {"...
production_countries    [{"iso_3166_1": "GB", "name": "United Kingdom"...
release_date                                          2013-06-12 00:00:00
revenue                                                         662845518
runtime                                                               143
spoken_languages                 [{"iso_639_1": "en", "name": "English"}]
status                                                           Released
tagline                              You will believe that a man can fly.
title                                                        Man of Steel
vote_average                                                          6.5
vote_count                                                           6359
cast                    Henry Cavill Amy Adams Michael Shannon Kevin C...
crew                    [{'name': 'Hans Zimmer', 'gender': 2, 'departm...
director                                                      Zack Snyder
Unnamed: 24                                                           NaN
Unnamed: 25                                                           NaN
Unnamed: 26                                                           NaN
Unnamed: 27                                                           NaN
Name: 14, dtype: object

In [6]:
def indexoftitle(movie):
    return df[df['title']==movie].index

In [7]:
indexoftitle('Man of Steel')

Int64Index([14], dtype='int64')

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
df=df.fillna("")

In [10]:
df.shape

(3630, 28)

In [11]:
df.loc[0]

index                                                                   0
budget                                                          237000000
genres                           Action Adventure Fantasy Science Fiction
homepage                                      http://www.avatarmovie.com/
id                                                                  19995
keywords                culture clash future space war space colony so...
original_language                                                      en
original_title                                                     Avatar
overview                In the 22nd century, a paraplegic Marine is di...
popularity                                                        150.438
production_companies    [{"name": "Ingenious Film Partners", "id": 289...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                          2009-12-10 00:00:00
revenue                                                        2787965087
runtime                                                               162
spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                           Released
tagline                                       Enter the World of Pandora.
title                                                              Avatar
vote_average                                                          7.2
vote_count                                                          11800
cast                    Sam Worthington Zoe Saldana Sigourney Weaver S...
crew                    [{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...
director                                                    James Cameron
Unnamed: 24
Unnamed: 25
Unnamed: 26
Unnamed: 27
Name: 0, dtype: object

In [12]:
df['total']=df[['keywords','cast','genres','director']].apply(lambda x: ''.join(str(x)),axis=1).unique()

In [13]:
cv=CountVectorizer()
count_vector=cv.fit_transform(df['total'])

In [16]:
df.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,vote_average,vote_count,cast,crew,director,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,total
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.438,...,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron,,,,,keywords culture clash future space war spa...
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.083,...,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski,,,,,keywords ocean drug abuse exotic island eas...
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.377,...,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes,,,,,keywords spy based on novel secret a...
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.313,...,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan,,,,,keywords dc comics crime fighter terrorist ...
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.927,...,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton,,,,,keywords based on novel mars medallion spac...

In [15]:
df[df['title']=='Avatar'].index

Int64Index([0], dtype='int64')

In [41]:
from sklearn.metrics.pairwise import cosine_similarity
x=[]
y=0
for i in count_vector:
    x.append([cosine_similarity(i,count_vector[0]),y])
    y+=1

In [42]:
x[0]

[array([[1.]]), 0]

In [43]:
x.sort(reverse=True)

In [80]:
h=pd.DataFrame(x[1:6])

In [88]:
hh=list(h[1])

In [90]:
def ret(l):
    return df.loc[l]['title'].reset_index()

In [92]:
z=ret(hh)

In [93]:
z['title']

0            Guardians of the Galaxy
1                             Aliens
2            Star Trek Into Darkness
3                              Alien
4    Star Wars: Clone Wars: Volume 1
Name: title, dtype: object